---
import Layout from '@/layouts/Layout.astro'
import MatchOfficial from '../../components/referee/MatchOfficial.astro'
---

<section class=" w-full h-screen">
    <Layout>
        <MatchOfficial />

    </Layout>
</section>